@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.active_category {
  background-color: #eb1b3e;
  color: white;
  transition: background-color 0.4s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.product-card:hover .overlay{
    height: 50px;
}

.sec_title{
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.sec_title::before{
  content: "";
  background-color: #eb1b3e;
  width: 100px;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.sale_title{
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 0;
}

.sale_title::before{
  content: "";
  background-color: #eb1b3e;
  width: 60px;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(0%, -100%);
}

.limited_splide{
  max-height: 100%;
  overflow: hidden;
}

.limited_splide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader{
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}